table, td {
    border: 1px solid black;
  }
  
  #board {
    width: 300px;
    height: 300px;
    margin: 20px auto;
    table-layout: fixed;
  }
  
  td, #message {
    text-align: center;
  }

  #scoreboard {
    width: 300px;
    margin: 20px auto;
  }

  #play-again {
    visibility: hidden;
  }

  .wrapper {
    text-align: center;
  }